* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em; /* 16px */
}

/* NAV */
.navbar-brand h1 {
  color: #557c3e;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 0.75;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 1px 1px 1px #222;
  text-transform: uppercase;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  background-color: #c2d2b9;
  border-bottom: 1px solid #557c3e;
  margin-top: 0;
  margin-bottom: 0;
}

#nav-list a {
  border-top: 1px solid #557c3e;
  color: #557c3e;
  font-size: 1.2em;
  text-align: center;
}

#nav-list a:hover {
  background: #557c3e;
  color: #e7e7e7;
}

.menu-title {
  font-size: 1.75em; /* 28px */
  margin: 15px 0;
}

.text-capitalize {
  text-transform: capitalize;
}

.items {
  background-color: rgb(228, 228, 228);
  border: 1px solid rgba(80, 80, 80, 1);
  margin-bottom: 30px;
  min-height: 500px;
  overflow: auto;
  padding: 15px;
  position: relative;
}
.items a[role="button"] {
  float: right;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
.title {
  border: 1px solid rgba(80, 80, 80, 1);
  color: white;
  display: block;
  float: left;
  font-size: 1em; /* 16px */
  padding: 5px 15px;
  margin-bottom: 15px;
  margin-top: -15px;
  margin-left: -15px;
}
.chicken > .title {
  background-color: rgb(184, 138, 153);
}
.beef > .title {
  background-color: rgba(182, 75, 36, 1);
}
.sushi > .title {
  background-color: rgba(161, 6, 123, 1);
}
.description {
  display: block;
  float: left;
}
